<h1>Edit Artist</h1>

<%= render "form", artist: @artist%>

<br/>
<br/>

<%= link_to "Back", artists_path, class: "ui black button" %>
<%= link_to "Show", artist_path(@artist), class: "ui black button" %>