<div class="ui center aligned header">
<br/>
  <h1 class="ui huge header">A R T I S T S</h1>
</div>

<div class="ui center aligned header">
  <h1 class="ui medium header">Choose an Artist Below</p>
</div>

<br/>
<div class="ui center aligned header">
  <%= link_to "Add a New Artist", new_artist_path, class: "ui color3 button" %>
</div>
<br/>
<br/>
<hr/>
<br/>

<div class="ui grid">
  <% @artists.each do |artist| %>
  <div class="sixteen wide mobile eight wide tablet four wide computer column">
    <div class="ui card"> 
      <div class="ui inverted segment"> 
        <div class="content">
          <div class="ui inverted segment"> 
            <div class="ui center aligned header">
              <%= link_to artist.name, artist, class: "ui white inverted header" %>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="ui small vertical two buttons">
          <button class="ui basic button">
            <%= link_to 'Edit', edit_artist_path(artist), class: "ui color5 button"%>
          </button>
          <button class="ui basic button">
            <%= link_to 'Delete', artist, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui color6 button" %>
          </button>
        </div>
      </div>
    </div>
  </div>

<% end %>
</div>