<div class="ui center aligned color8 header">
<br/>
  <h1 class="ui huge color8 header">
  <%= @artist.name %></h1>
<br/>
</div>
<div class="ui inverted center aligned segment">
<br/>
  <div class="content">
      <%=link_to 'View Songs', artist_songs_path(@artist), class: "ui huge inverted button" %>
  <br/>
  <br/>
  <%= link_to 'Edit', edit_artist_path(@artist), class: "ui small inverted button" %>  
  <%= link_to 'Back', artists_path, class: "ui small inverted button" %>
  </div>
  <br/>
</div>