<div class="ui center aligned header">
  <h1>Songs by: <%=@artist.name%></h1>
  <div class="ui small two buttons">
    <button class="ui basic button">
      <%= link_to 'Create a New Song', new_artist_song_path(@artist), class: "ui inverted left floated color3 button" %>
    </button>
    <button class="ui basic button">
      <%= link_to 'Back To Artist', artist_path(@artist), class: "ui inverted right floated color3 button" %>
    </button>
  </div>
</div>


<div class="ui inverted segment">
  <div class="ui inverted big relaxed divided list">
    <% @songs.each do |song| %>
    <div class="item">
      <%# <div class="header"> %>
      </br>
        <%= link_to song.title, artist_song_path(@artist, song)%>
        <% end %>
      <%# </div> %>
    </div>
  </div>
  </br>
</div>

