<div class="ui center aligned header">
<br/>
  <h1 class="ui huge header">B I L L B O A R D S</h1>
</div>
<br/>
<div class="ui center aligned header">
  <button class="ui mini pink button">
    <%= link_to "New billboard", new_billboard_path, class: "ui pink button" %>
  </button>
</div>

<br/>
<hr/>
<br/>

<div class="ui grid">
 <% @billboards.each do |billboard| %>
    <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui card"> 
        <div class="ui inverted segment"> 
          <div class="content">
            <div class="ui inverted segment"> 
              <div class="ui center aligned header">
                <%= link_to billboard.name, billboard, class: "ui white inverted header" %>
              </div>
            </div>
          </div>
        </div>
        <div class="content">
          <div class="ui small vertical two buttons">
            <button class="ui basic button">
              <%= link_to 'Edit', edit_billboard_path(billboard), class: "ui inverted violet button" %>
            </button>
            <button class="ui basic button">
              <%= link_to 'Delete', billboard, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui inverted purple button" %>
            </button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>