<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="item" <%= link_to 'Artists', root_path %>
    </a>
    <a class="item" <%= link_to 'Billboards', billboards_path %>
    
  </div>
</div>


